<!DOCTYPE html>
<html>
  <head>
    <title>Edit GPTSub Response</title>
  </head>
  <body>
    <h1>Edit GPTSub Response Test</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
    </form>
    <form action="{% url 'gpt_sub_response_list' %}" method="get">
      <input type="submit" value="View GPT Sub Responses">
    </form>
    <form action="{% url 'gpt_sub_response_list' %}" method="get">
      
    </form>
    
  </body>
</html>

