<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>GPT-3 API Request</h1>
    <p>Please select your request type:</p>
    <div>
      <a href="{% url 'gpt_request' %}" class="btn btn-primary">GPT Sub</a>
      <a href="{% url 'image_prompt_request' %}" class="btn btn-primary"
        >Image Prompt</a
      >
    </div>
    <form action="{% url 'gpt_sub_response_list' %}" method="get">
      <input type="submit" value="View GPT Sub Responses">
    </form>
    
  </body>
</html>
